<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="./assets/tree.jpeg"/>
        </figure>
    </div>

    <div class="card-content">
        <div class="media-content">
            <p class="title p-4">First card</p>
            <p class="subtitle is-6">@nature</p>
        </div>
        <div class="content">Bacon ipsum dolor amet meatball leberkas turkey, shank flank pork belly porchetta.
            Hamburger sirloin buffalo bacon jowl t-bone. Spare ribs turkey bresaola drumstick. Alcatra bresaola pastrami
            pork loin burgdoggen, kevin tenderloin tri-tip hamburger turkey flank sirloin. Meatball picanha frankfurter,
            tongue prosciutto flank bresaola beef shankle ball tip cow. Tenderloin filet mignon swine ball tip strip
            steak chislic pastrami ground round tongue salami pig andouille venison doner. Bacon kielbasa landjaeger
            swine tri-tip ribeye.
        </div>
    </div>
</div>